
body {
    font-family: arial, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

.container {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
}

.containerCell {
    display: table-cell;
    vertical-align: middle;
}

.header {
    background: url('header.jpg') no-repeat scroll center center #baacc1;
    height: 100px;
}

.outerContent {
    background-color: #eee;
    padding: 10px;
}

.content {
    display: inline-block;
    width: auto;
    text-align: center;
}

.info {
    text-align: left;
    padding: 5px 5px 0px 5px;
    size: .8em;
}
